<form (ngSubmit) = "onRegisterSubmit()">
    <div class="container">
      <h1>Organiser Registration</h1>
      <hr>

      <label for="first_name"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" [(ngModel)]="first_name" name="first_name" id="first_name">

      <label for="last_name"><b>First Name</b></label>
      <input type="text" placeholder="Enter Last Name" [(ngModel)]="last_name" name="last_name" id="last_name">

      <label for="country"><b>Country</b></label>
      <input type="text" placeholder="Enter Country" [(ngModel)]="country" name="country" id="country">

      <label for="organization"><b>Organization</b></label>
      <input type="text" [(ngModel)]="organization" name="organization" id="organization">
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" id="email">
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" id="password" >
  
      <hr>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <!-- <p>Already have an account? <a [routerLink] = "['/organiser/resgister']">Sign in</a>.</p> -->
      <p>Already have an account? <a [routerLink] = "['/organiser/register']">Sign in</a>.</p>
    </div>
    
  </form>